body{
    background-image: url("https://al-coworking.s3.amazonaws.com/assets/img/em-desenvolvimento/bg-nuvem.png") ;
    background-color: rgba(245, 245, 245,1);
}
.h80 {
    height: 80%;
}
.h100 {
    height: 100%;
}